/* Header background */
header 
{
  background-color: rgb(23, 84, 141);
  margin: auto -16px;
  padding: 16px 32px;
}


/* Header text */
h1 header 
{
  color:#d1c177;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
/* Footer background */
footer 
{
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 1.5rem;
}
/* Footer text */
footer p 
{
  font-size:1.5rem;
  font-family: sans-serif;
  opacity: 50%;
  color: #1f0909;
}
/* Notepad component */
.notepad 
{
  background: #f1d0d0;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 15px;
  width: 280px;
  margin: 16px;
  float: left;
}
/* Notepad display text */
.notepad 
{
  display: inline-block;
}
.notepad h1
{
  font-size: 2rem;

}
.notepad p
{
  font-size:1.2rem;
}


  


